/***************************
 ***  Default page
 ***************************/
$black: #000;
$white: #fff;

/***************************
 ***  Navigation page
 ***************************/
$nav-font-link-default: #00b7ff;
$nav-font-link: #000000;
$nav-font-link-hover: #000000;

/***************************
 ***  Home page
 ***************************/
 $home-font: #000000;

/***************************
 ***  Top ranks page
 ***************************/

/***************************
 ***  Clans page
 ***************************/

/***************************
 ***  Members page
 ***************************/

 /***************************
 ***  Member page
 ***************************/

/***************************
 ***  Leagues page
 ***************************/