/***************************
 ***  Home page
 ***************************/
div#home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  div.search-forms-container {
    display: flex;
    flex-direction: column;

    div.search-form {
      display: flex;
      flex-direction: column;
      height: 20px;
      border-radius: 5px;
      padding: 5px;
      margin: 5px;

      button {
        margin-right: 5px;
        border-radius: 10px;
        padding: 7px;
      }

      input {
        width: 500px;
        border-radius: 10px;
        padding: 7px;
      }
    }
  }

  div.example-container {
    p.example {
      font-size: 12px;
      color: #666;
    }
  }

  h1 {
    padding: 30px;
  }

  div#home-main-stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.home-box-container {
      display: flex;
      border: 1px solid black;
      // padding: 10px;
      flex-direction: column;

      h2 {
        display: flex;
      }
    }

    div.home-box-container {
      display: flex;
      justify-content: center;
      margin: 10px;

      h2 {
        height: 50px;
        font-size: 25px;
        color: $home-top-stats-header;
        justify-content: center;
        background: gray;
        margin: 0;
        align-items: center;
      }

      div.top-item {
        padding: 10px;
        font-size: 25px;

        span.clan-tag {
          color: gray;
          font-size: 14px;
        }

        img.clan-badge {
          width: 40px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }

  div#top-num-container {
    display: flex;
    flex-direction: row;

    a.top-num-item {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 5px;
      font-size: 25px;
      background: gray;
      height: 50px;
      border: 2px solid;

      &:hover {
        background: red;
      }
    }
  }

}