/***************************
 ***  Members page
 ***************************/
 div#members-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px;
  
    table#members-table th,
    tr,
    td {
      text-align: left;
      padding: 10px;
  
      img {
        width: 25px;
        height: 25px;
      }
  
      a.members-clan-badge {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  
    p.error {
      color: red;
      font-weight: bold;
      font-size: 30px;
    }
  }
  
  /***************************
   ***  Member page
   ***************************/
  div#member-container {
    display: flex;
    justify-content: center;
    width: 100%;
    border: 1px;
  
    table#member-table th,
    tr,
    td {
      text-align: left;
      padding: 10px;
  
      img {
        width: 25px;
        height: 25px;
      }
  
      a.member-clan-badge {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }