@import "./colors";

/***************************
 ***  Main body styles
 ***************************/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /* background: url(../images/coc_bg.jpg); */
}

div#main-body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
}

a {
  color: $nav-font-link-default;
}

/***************************
 ***  Header START
 ***************************/
a.header-link {
  text-decoration: none;
  color: $nav-font-link;
}

header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  box-shadow: 0 0 25px 0 black;
  padding-left: 30px;
}

header * {
  display: inline;
}

/***************************
 ***  Header END
 ***************************/

/***************************
 ***  Footer START
 ***************************/
a.footer-link {
  text-decoration: none;
  color: $nav-font-link;
}

footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 25px 0 black;
  padding-left: 30px;
}

nav {
  li {
    a:hover {
      color: $nav-header-footer-link-hover;
    }
  }
}

footer * {
  display: inline;
}

/***************************
 ***  Footer END
 ***************************/

span.role {
  &.leader {
    color: red;
  }

  &.coleader {
    color: orange;
  }

  &.elder {
    color: blue;
  }

  color: green;
}

/***************************
 ***  Navigation page
 ***************************/
nav {
  display: flex;

  /* display: flex; */
  ul {
    list-style-type: none;
    align-items: center;

    li {
      margin: 20px;
      display: inline;

      &:hover {
        color: red
      }

      a {
        color: black;
        text-decoration: none;

        :hover,
        :focus {
          color: black;
          background-color: white;
          font-weight: bold;
        }
      }
    }
  }
}

/***************************
 ***  Home page
 ***************************/
div#home-main-container {
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    padding: 30px;
  }

  div#home-main-stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div.home-box-container {
      display: flex;
      border: 1px solid black;
      // padding: 10px;
      flex-direction: column;

      h2 {
        display: flex;
      }
    }

    div.home-box-container {
      display: flex;
      justify-content: center;
      margin: 10px;

      h2 {
        height: 50px;
        font-size: 25px;
        color: $home-top-stats-header;
        justify-content: center;
        background: gray;
        margin: 0;
        align-items: center;
      }

      div.top-item {
        padding: 10px;
        font-size: 25px;

        span.clan-tag {
          color: gray;
          font-size: 14px;
        }

        img.clan-badge {
          width: 40px;
          vertical-align: middle;
          margin-right: 5px;
        }
      }
    }
  }

  input[name=clantag] {
    width: 80%;
    height: 20px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }

  button#clan-search {
    width: 100px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
  }
}

/***************************
 ***  Members page
 ***************************/
div#members-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px;

  table#members-table th,
  tr,
  td {
    text-align: left;
    padding: 10px;

    img {
      width: 25px;
      height: 25px;
    }

    a.members-clan-badge {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  p.error {
    color: red;
    font-weight: bold;
    font-size: 30px;
  }
}

/***************************
 ***  Member page
 ***************************/
div#member-container {
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px;

  table#member-table th,
  tr,
  td {
    text-align: left;
    padding: 10px;

    img {
      width: 25px;
      height: 25px;
    }

    a.member-clan-badge {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

/***************************
 ***  Top ranks page
 ***************************/
.clan-badge {
  width: 50px;
}

/***************************
 ***  Leagues page
 ***************************/
div#league-container {
  table#league-table {
    tr {
      display: flex;

      a {
        display: flex;
        align-items: center;
      }
    }
  }
}