footer 
    nav
        ul
            li
                a(href="./topranks?mode=lvl") Top Clans Lvl
            li
                a(href="./topranks") Top Clans Trophies
            li
                a(href="./topplayers") Player Stats
            //- li
            //-     a(href="./member") Member