footer 
    nav
        ul
            li
                a(href="./members") Top Clans
            li
                a(href="./topranks") Top Players
            li
                a(href="./member") Member (timothy)