extends layout

block content
  div(id="home-main-container")
    h1 Welcome to #{title}
      div(id="home-container")
        p
          a(href="#{baseURL}topclan") Top Clans
        p
          a(href="#{baseURL}topplayers") Top Players
        p
          a(href="./leagues") Current Leagues
        p 
          a(href="./members?clantag=%232LPCCR8U") Old Rebels
        p 
          a(href="./members?clantag=%232L2JY80L2") 50 Thieves
        p   
          form(action="members" method="get" id="clan-search-form")
            input(name="clantag", type="text", placeholder="Clan Tag")
            button(id="clan-search") Search