extends layout

block content
  div(id="home-main-container")
    div(id="home-title")
      h1 #{title}
      div(class="search-forms-container")
        div(class="search-type-switch-field")
          input(type="radio" id="searchtag" name="searchtype" value="tag" checked="true")
          label(for="searchtag") TAG
          input(type="radio" id="searchname" name="searchtype" value="name")
          label(for="searchname") NAME
        div(id="search-form-name" class="search-form")
          form(action="searchclans" method="get" id="clan-search-form")
            button(id="clan-search" class="search-button") Search
            input(name="clanname" type="text" placeholder="Clan Name")
        div(id="search-form-tag" class="search-form")
          form(action="members" method="get" id="clan-search-form")
            button(id="clan-search" class="search-button") Search
            input(name="clantag" type="text" placeholder="Clan Tag")
        if(showExamples === true)
        h3 Examples:
        div(id="search-examples")
          div(class="example-container")
            p(class="example") Old Rebels: 
              a(href="./members?clantag=%232LPCCR8U") #2LPCCR8U
            p(class="example") 50 Thieves: 
              a(href="./members?clantag=%232L2JY80L2") #2L2JY80L2
            p(class="example") Hell Drinkers: 
              a(href="./members?clantag=%23UVVQLY2") #UVVQLY2
        //- div(id="top-num-container")
        //-   p Top 5
        //-     a(class="top-num-item") Clans
        //-     a(class="top-num-item") Players
        //-     a(class="top-num-item") WinsClans
        //-     a(class="top-num-item") XP
        //-     a(class="top-num-item") Top 5 Clans