extends layout

block content
  div(id="home-main-container")
    h1 Welcome to #{title}
      div(id="home-container")
        p
          a(href="#{baseURL}") Top Clans
        p
          a(href="#{baseURL}") Top Players
        p
          a(href="./leagues") Current Leagues
        //- p
        //-   a(href="./capitalleagues") Capital Leagues