extends layout

block content
  div(id="home-main-container")
    h1 Welcome to #{title}
      div(id="home-container")
        p
          a(href="#") Top Clans
        p
          a(href="#") Top Players
