doctype html
html
  head
    title Old Rebels Info
    link(rel='stylesheet' href='/css/style.css')
  body
    header
      h1 
        a(href="./" class="header-link") Old Rebels Info
      nav
        ul
          li
            a(href="./members") Top Clans
          li
            a(href="./topranks") Top Players
          li
            a(href="./member") Member (timothy)
    div(id='main-body')
      block content

  include footer
