doctype html
html
  head
    title Old Rebels Info
    link(rel='stylesheet', href='/css/style.css')
  body
    header
      h1 
       a(href="./", class="header-link") Old Rebels Info
      nav
        ul
            li 
              a(href="./") Home
            li
              a(href="./members") Members
            li
              a(href="./member") Timothy
            li
              a(href="./topranks") Top Ranks
    div(id='main-body')
      block content
