doctype html
html
  head
    title Clash of Clans Stats
    link(rel='stylesheet' href='/css/style.css')
  body
    header
      h1 
        a(href="./" class="header-link") Clash of Clans Stats
      nav
        ul
          li
            a(href="./topranks?mode=lvl") Top Clans Lvl
          li
            a(href="./topranks") Top Clans Trophies
          //- li
          //-   a(href="./member") Member
    div(id='main-body')
      block content

  include footer
