doctype html
html
  head
    script(async='', src='https://www.googletagmanager.com/gtag/js?id=G-JJ348RLFZV')
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-JJ348RLFZV');
    title Clash of Clans Stats
    link(rel="icon" type="image/x-icon" href="./images/favicon.ico")
    link(rel='stylesheet' href='/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
    script(src='./js/utils.js')
  body
    header
      h1 
        a(href="./" class="header-link") Stats and info
      nav
        ul
          li
            a(href="./topranks?mode=lvl") Top Clans (level)
          li
            a(href="./topranks") Top Clans (trophies)
          li
            a(href="./topplayers") Player Stats
          li
            a(href="./leagues") Leagues
    div(id='main-body')
      block content

  include footer
