extends layout

block content
  ul 
    each d, i in memberData
      li
        a(href="./member?usertag=" + d.tag.replace('#','')) #{d.name}
        if d.role == "admin"
          span  (elder)
        else 
          span  (#{d.role})
