body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

div#main-body {
  display: inline-block;
}

a {
  color: #00b7ff;
}

/***
  Navigation
*/
nav {
  display: flex;
}

nav ul {
  list-style-type: none;
}

nav ul li {
  float: left;
  margin-right: 0.5em;
}

nav ul li a {
  padding: 0.25em 1em;
  text-decoration: none; /* no underline */
  background-color: #ebf5ff; /* pale bluish white */
  color: #4312ae; /* dark blue */
  border: 2px solid black;
  border-top-left-radius: 1em 1em; /* rounded corner! */
  border-top-right-radius: 1em 1em; /* another rounded corner! */
}

nav ul li a:hover,
nav ul li a:focus {
  color: black;
  background-color: white;
  font-weight: bold;
}
