body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul.nav {
  display: flex;
  justify-content: left;
	margin:10px;
	width:900px;
	font-family: sans-serif;
}
ul.nav li {
	display:block;
	width:120px;
	float:left;
	margin-left:2px;
	border:1px solid #000;
}

ul.nav a {
	display:block;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color:#009;
}

ul.nav a:hover {
	background-color:#009;
	color:#fff;
}